
<% if question.votes.count == 1 %>
  <div class="counter">
    <span class="stat"><%= question.votes.count %></span>
    <span class="type">fistbump</span>
  </div>
<% else %>
  <div class="counter">
    <span class="stat"><%= question.votes.count %></span>
    <span class="type">fistbumps</span>
  </div>
<% end %>

<div class="counter">
  <span class="stat"> <%= question.answers.count %></span>
  <span class="type">answers</span>
</div>

  <div class="question-title">
    <h4>
      <%= link_to question.title, question %>
    </h4>
  </div>
  <div class="question-user">
    <h4>
      by: <%= link_to question.user.username, question.user %>
    </h4>
  </div>
  <% question.tags.each do |tag| %>
    <span class="btn btn-mini"><%= link_to tag.name, tag %></span>
  <% end %>

  <br><br><br>