<div class="form form-stacked">
  <%= form_for @question do |f| %>
    <div class="field">
      <%= f.text_field :title %>
      <br>
      <%= f.text_area :text, :size => "24x6"%>
      <h4>
        Tag This:
      </h4>
      <%= collection_select(:question, :tag_ids, Tag.all, :id, :name,{:selected => @question.tag_ids },{:multiple => true, :size => 7} ) %>
    </div>
    <div class="action">
      <%= f.submit "Edit!", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
