<div class="form form-stacked ask-question">
      <h2>
        Ask your question
      </h2>
  <%= form_for @question, url: questions_path do |f| %>
    <div class="field">
      <h3>
        Title:
      </h3>
      <%= f.text_field :title, autofocus: true, class:'span6'%>
      <br>

      <h3>
        Details
      </h3>

      <%= f.text_area :text, {class:'span6', style:'height:100px;'}%>
      <br>
      <h4>
        Tag This:
      </h4>
      <%= collection_select(:question, :tag_ids, Tag.all, :id, :name,{},{:multiple => true, :size => 7} ) %>
    </div>
    <div class="action">
      <%= f.submit "Ask", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
