<h1>
  <%= @question.title %>
</h1>

<div class="row">
  <div class="span6">
    <p class="lead">
      <%= @question.text %>
    </p>

    <h5>
      tags: <%= render partial: 'tags/tags', locals: {question: @question} %>
    </h5>

    <h5>
      Asked by this bro at: <%= @question.created_at %>
    </h5>

    <%= image_tag @question.user.image.thumb if @question.user.image.present? %>
    <%= link_to @question.user.username, @question.user %>

    <%= render partial: 'edit_question', locals: {question: @question } %>
    <%= render "answer" %>

  </div>
  <div class="span2">
    <%= render partial: 'votes/vote', locals: { voteable: @question } %>
  </div>
</div>

  <%= render partial: 'comments/display_comments', locals: {parent: @question} %>

<h3>
  <%= @question.answers.empty? ? "Answer this question dammit!" : "#{@question.answers.count} Answers:" %>
</h3>

<div class="span8">
  <%= render partial: 'answers/display_answers', locals: {question: @question} %>
</div>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
