<h1>
  <%= @question.title %>
</h1>

<div class="row">
  <div class="span2">
    <%= render partial: 'votes/vote', locals: { voteable: @question } %>
  </div>

  <div class="span8">
    <p class="lead">
      <%= @question.text %>
    </p>


    <%= render partial: 'tags/tags', locals: {question: @question} %>


    <div class="text-right lead">- <%= link_to @question.user.username, @question.user %>, bro</div>

    <%= image_tag @question.user.image.thumb if @question.user.image.present? %>


    <%= render partial: 'edit_question', locals: {question: @question } %>
    <br>
    <%= render "answer" %>
    <%= render partial: 'comments/display_comments', locals: {parent: @question} %>
  </div>
</div>


<h3>
  <%= @question.answers.empty? ? "Answer this question dammit!" : "#{@question.answers.count} Answers:" %>
</h3>
<%= render partial: 'answers/display_answers', locals: {question: @question} %>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
