<div class="fist-bump">

Fist Bumps: <span class="vote-count"><%= voteable.votes.count %></span>

<% if current_user && voteable.votes.where(:user_id => current_user.id).empty? %>
  <%= form_for :vote, :url => :votes, :method => "post" do |f| %>
    <%= hidden_field_tag 'voteable_id', voteable.id  %>
    <%= hidden_field_tag 'voteable_type', voteable.class %>
    <%= hidden_field_tag 'vote_count', voteable.votes.count %>
    <%= image_submit_tag("fist-bump-apart.png",
                         :onmouseover => "this.src='/assets/fist-bump.png'",
                         :onmouseout => "this.src='/assets/fist-bump-apart.png'")%>
  <% end %>
<% elsif current_user %>
  <br><%= image_tag("fist-bump-boom.png") %>
<% else %>
  <br><%= link_to image_tag("fist-bump-apart.png"), login_path %>
<% end %>

</div>
